<div class="student-list-container">
    <div class="header">
        <h1>Student List</h1>
        <%= button_to "Logout", logout_path, method: :delete, class: "btn logout-btn" %>
    </div>

    <div class="search-container">
        <%= form_with url: students_path, method: :get, local: true do %>
            <%= text_field_tag :query, params[:query], placeholder: "Enter name", class: "small-search-field" %>
            <%= submit_tag "Search", class: "logout-btn" %>
        <% end %>
    </div>

    <%= link_to "Add New Student", new_student_path, class: "btn add-student-btn" %>

    <table>
        <thead>
            <tr>
                <th>Name</th>
                <th>Subject</th>
                <th>Marks</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
            <% @students.each do |student| %>
            <tr>
                <td><%= student.name %></td>
                <td><%= student.subject %></td>
                <td><%= student.marks %></td>
                <td>
                    <div class="action-buttons">
                        <%= link_to "Edit", edit_student_path(student), class: "action-btn edit-btn" %>
                        <%= button_to "Delete", student_path(student), method: :delete, class: "action-btn delete-btn" %>
                    </div>
                </td>
            </tr>
            <% end %>
        </tbody>
    </table>
</div>
